n8n-workflows/n8n-sai-discovery.json
{
  "name": "SAI Scraper - Company Discovery v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sai-discovery",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "sai-discovery"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst filters = body.filters || {};\nconst maxResults = body.maxResults || 25;\n\nconst SERPER_API_KEY = 'cad6eefce44b2e9d112983ff0796cab6ae988d8b';\n\nconst industries = filters.industries || [];\nconst locations = filters.locations || [];\nconst keywords = filters.keywords || [];\nconst employeeRange = filters.employeeRange || null;\n\n// Search patterns WITHOUT negative operators (Serper doesn't allow them)\nconst industrySearchPatterns = {\n  'SaaS': [\n    '\"request demo\" software company',\n    '\"free trial\" saas platform pricing',\n    'b2b software \"contact us\" startup'\n  ],\n  'E-commerce': [\n    '\"shop now\" online store',\n    '\"free shipping\" boutique store',\n    'ecommerce store \"add to cart\"'\n  ],\n  'Healthcare': [\n    '\"book appointment\" medical clinic',\n    '\"accepting new patients\" doctor office',\n    'dental practice \"schedule online\"',\n    '\"urgent care\" clinic \"walk-ins welcome\"'\n  ],\n  'FinTech': [\n    '\"apply now\" fintech lending company',\n    'payment processing \"get started\"',\n    'financial services company \"contact us\"'\n  ],\n  'EdTech': [\n    '\"enroll now\" online course platform',\n    'learning management \"free trial\"',\n    'education technology \"request demo\"'\n  ],\n  'Real Estate': [\n    '\"we buy houses\" cash offer investor',\n    'real estate agent \"contact me\" realtor',\n    'property management company \"get quote\"',\n    '\"sell your home\" real estate investor'\n  ],\n  'Professional Services': [\n    '\"free estimate\" plumber licensed',\n    '\"24/7 emergency\" hvac company',\n    '\"licensed and insured\" contractor services',\n    'cleaning service \"book online\" professional',\n    '\"call now\" home services company'\n  ],\n  'Marketing Agency': [\n    '\"case studies\" digital marketing agency',\n    'seo agency \"free audit\" results',\n    'ppc management \"get proposal\"',\n    '\"our work\" marketing agency portfolio'\n  ],\n  'Legal': [\n    '\"free consultation\" personal injury lawyer',\n    'law firm \"contact us\" attorney',\n    '\"case evaluation\" legal services'\n  ],\n  'Insurance': [\n    '\"get quote\" insurance agency local',\n    'insurance broker \"contact us\" independent',\n    '\"free quote\" insurance agent'\n  ],\n  'Construction': [\n    '\"free estimate\" roofing company licensed',\n    'general contractor \"our projects\" portfolio',\n    'construction company \"request quote\"'\n  ],\n  'Logistics': [\n    'freight company \"get quote\" shipping',\n    'trucking company \"request rate\"',\n    '3pl logistics \"contact us\"'\n  ],\n  'Retail': [\n    'boutique shop \"visit us\" local store',\n    'retail store \"shop online\" local'\n  ],\n  'Manufacturing': [\n    'manufacturing company \"request quote\"',\n    'custom fabrication \"contact us\"',\n    'industrial supplier \"get quote\"'\n  ]\n};\n\n// Location modifiers\nconst locationQueries = {\n  'United States': ['USA', 'United States'],\n  'California': ['California', 'CA'],\n  'Texas': ['Texas', 'TX'],\n  'Florida': ['Florida', 'FL'],\n  'New York': ['New York', 'NY'],\n  'Illinois': ['Illinois', 'Chicago'],\n  'Pennsylvania': ['Pennsylvania', 'PA'],\n  'Ohio': ['Ohio', 'OH'],\n  'Georgia': ['Georgia', 'Atlanta'],\n  'North Carolina': ['North Carolina', 'NC'],\n  'Michigan': ['Michigan', 'MI'],\n  'Canada': ['Canada', 'Canadian'],\n  'United Kingdom': ['UK', 'London'],\n  'Germany': ['Germany', 'German'],\n  'Australia': ['Australia', 'Australian']\n};\n\n// Build queries\nconst queries = [];\n\n// If user provided custom keywords, prioritize those\nif (keywords.length > 0) {\n  for (const keyword of keywords) {\n    if (locations.length > 0) {\n      for (const loc of locations) {\n        const locMod = locationQueries[loc]?.[0] || loc;\n        queries.push(`\"${keyword}\" ${locMod} company`);\n      }\n    } else {\n      queries.push(`\"${keyword}\" company \"contact us\"`);\n    }\n  }\n}\n\n// Industry-based queries\nif (industries.length > 0) {\n  for (const industry of industries) {\n    const patterns = industrySearchPatterns[industry] || [`${industry} company \"contact us\"`];\n    const pattern = patterns[Math.floor(Math.random() * patterns.length)];\n    \n    if (locations.length > 0) {\n      for (const loc of locations) {\n        const locMod = locationQueries[loc]?.[0] || loc;\n        queries.push(`${pattern} ${locMod}`);\n      }\n    } else {\n      queries.push(pattern);\n    }\n  }\n}\n\n// Location-only queries (no industry selected)\nif (industries.length === 0 && locations.length > 0 && keywords.length === 0) {\n  for (const loc of locations) {\n    const locMod = locationQueries[loc]?.[0] || loc;\n    queries.push(`\"free estimate\" home services ${locMod}`);\n    queries.push(`small business \"contact us\" ${locMod}`);\n  }\n}\n\n// Fallback if no filters at all\nif (queries.length === 0) {\n  queries.push('\"free estimate\" plumber austin texas');\n  queries.push('\"24/7\" hvac company dallas');\n  queries.push('roofing contractor houston \"call now\"');\n}\n\n// Return unique queries, max 5 to conserve credits\nconst uniqueQueries = [...new Set(queries)].slice(0, 5);\n\nreturn uniqueQueries.map((query, index) => ({\n  json: {\n    searchQuery: query,\n    originalQuery: query,\n    serperApiKey: SERPER_API_KEY,\n    filters: filters,\n    maxResults: Math.ceil(maxResults / uniqueQueries.length),\n    queryIndex: index,\n    totalQueries: uniqueQueries.length\n  }\n}));"
      },
      "id": "build-queries",
      "name": "Build Queries",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": { "delayBetweenBatches": 500 }
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "={{ $json.serperApiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.searchQuery, gl: 'us', hl: 'en', num: 30 }) }}"
      },
      "id": "serper-search",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst context = $('Loop').first().json;\nconst maxPerQuery = context.maxResults || 15;\nconst filters = context.filters || {};\n\nconst organic = input.organic || [];\nconst companies = [];\nconst seenDomains = new Set();\n\n// Robust domain extraction\nfunction extractDomain(url) {\n  try {\n    const u = new URL(url);\n    let domain = u.hostname.toLowerCase();\n    domain = domain.replace(/^www\\./, '');\n    return domain;\n  } catch {\n    return null;\n  }\n}\n\n// Smart company name extraction\nfunction extractCompanyName(title, domain, snippet) {\n  let name = title.split(/[|\\-–—:•·»]/)[0].trim();\n  \n  name = name\n    .replace(/^(welcome to|home|about)\\s*/i, '')\n    .replace(/\\s*(LLC|Inc\\.?|Corp\\.?|Ltd\\.?|Co\\.?|LP|LLP|PC|PLLC)\\s*$/i, '')\n    .replace(/\\s*[-–]\\s*$/, '')\n    .trim();\n  \n  const badPatterns = /^(top|best|\\d+|how to|what is|the |a |review|guide|list|vs\\.|compare)/i;\n  const tooGeneric = /(home page|official site|website|landing)/i;\n  \n  if (name.length > 60 || name.length < 2 || badPatterns.test(name) || tooGeneric.test(name)) {\n    name = domain\n      .replace(/\\.(com|io|co|net|org|ai|app|us|uk|ca|biz|info|pro|services)$/i, '')\n      .replace(/[-_\\.]/g, ' ')\n      .split(' ')\n      .filter(w => w.length > 1)\n      .map(w => w.charAt(0).toUpperCase() + w.slice(1))\n      .join(' ');\n  }\n  \n  name = name.replace(/\\s+/g, ' ').trim();\n  \n  if (name === name.toLowerCase()) {\n    name = name.replace(/\\b\\w/g, c => c.toUpperCase());\n  }\n  \n  return name || 'Unknown Company';\n}\n\n// Industry classification\nfunction classifyIndustry(title, snippet, domain, url) {\n  const text = `${title} ${snippet} ${domain} ${url}`.toLowerCase();\n  \n  const patterns = [\n    { industry: 'Healthcare', words: ['medical', 'clinic', 'doctor', 'dental', 'dentist', 'health', 'patient', 'hospital', 'therapy', 'chiropractic', 'optometry', 'pharmacy', 'urgent care'] },\n    { industry: 'Legal', words: ['law firm', 'attorney', 'lawyer', 'legal', 'injury', 'litigation', 'defense', 'counsel'] },\n    { industry: 'Real Estate', words: ['real estate', 'realtor', 'realty', 'property', 'homes for', 'buy house', 'sell house', 'mortgage', 'we buy'] },\n    { industry: 'Professional Services', words: ['plumb', 'hvac', 'heating', 'cooling', 'air condition', 'electric', 'roof', 'clean', 'landscap', 'pest', 'moving', 'locksmith', 'handyman', 'repair', 'restoration', 'contractor'] },\n    { industry: 'Construction', words: ['construction', 'builder', 'general contractor', 'remodel', 'renovation', 'concrete', 'paving', 'excavat'] },\n    { industry: 'Marketing Agency', words: ['marketing', 'seo', 'ppc', 'advertising', 'digital agency', 'branding', 'social media agency', 'web design', 'creative agency'] },\n    { industry: 'SaaS', words: ['software', 'saas', 'platform', 'cloud', 'api', 'automation', 'dashboard', 'analytics', 'crm', 'erp'] },\n    { industry: 'E-commerce', words: ['shop', 'store', 'cart', 'checkout', 'ecommerce', 'retail', 'boutique', 'fashion', 'apparel'] },\n    { industry: 'FinTech', words: ['fintech', 'payment', 'lending', 'loan', 'credit', 'invest', 'trading', 'banking'] },\n    { industry: 'Insurance', words: ['insurance', 'coverage', 'policy', 'underwriting', 'claims'] },\n    { industry: 'EdTech', words: ['education', 'learning', 'course', 'training', 'academy', 'school', 'tutor', 'certification'] },\n    { industry: 'Logistics', words: ['logistics', 'freight', 'shipping', 'trucking', 'warehouse', 'fulfillment', '3pl', 'supply chain'] },\n    { industry: 'Manufacturing', words: ['manufacturing', 'factory', 'industrial', 'fabricat', 'machining', 'assembly'] }\n  ];\n  \n  for (const p of patterns) {\n    for (const word of p.words) {\n      if (text.includes(word)) return p.industry;\n    }\n  }\n  \n  return filters.industries?.[0] || 'Professional Services';\n}\n\n// Domains to skip - directories, aggregators, social media\nconst skipDomains = new Set([\n  'facebook.com', 'twitter.com', 'linkedin.com', 'instagram.com', 'youtube.com',\n  'tiktok.com', 'pinterest.com', 'reddit.com', 'x.com',\n  'google.com', 'bing.com', 'yahoo.com', 'amazon.com', 'apple.com', 'microsoft.com',\n  'yelp.com', 'yellowpages.com', 'whitepages.com', 'manta.com', 'superpages.com',\n  'bbb.org', 'chamberofcommerce.com', 'mapquest.com',\n  'angi.com', 'angieslist.com', 'homeadvisor.com', 'thumbtack.com', 'houzz.com',\n  'porch.com', 'networx.com',\n  'trustpilot.com', 'sitejabber.com', 'consumeraffairs.com',\n  'crunchbase.com', 'zoominfo.com', 'dnb.com',\n  'g2.com', 'capterra.com', 'softwareadvice.com', 'getapp.com', 'trustradius.com',\n  'zillow.com', 'trulia.com', 'realtor.com', 'redfin.com', 'homes.com',\n  'indeed.com', 'glassdoor.com', 'monster.com', 'ziprecruiter.com',\n  'avvo.com', 'findlaw.com', 'justia.com', 'lawyers.com', 'martindale.com',\n  'healthgrades.com', 'vitals.com', 'zocdoc.com', 'webmd.com', 'ratemds.com',\n  'forbes.com', 'inc.com', 'entrepreneur.com', 'businessinsider.com', 'bloomberg.com',\n  'wsj.com', 'nytimes.com', 'cnn.com', 'bbc.com',\n  'wikipedia.org', 'wikihow.com', 'quora.com', 'medium.com',\n  'clutch.co', 'designrush.com', 'upcity.com',\n  'statista.com', 'deloitte.com', 'ft.com'\n]);\n\n// Check if URL is a list/directory page\nfunction isListOrArticle(url, title) {\n  const urlLower = url.toLowerCase();\n  const titleLower = title.toLowerCase();\n  \n  const badUrlPatterns = ['/list', '/ranking', '/directory', '/search', '/category', '/browse', '/blog/', '/article/', '/news/', '/top-', '/best-', '/compare', '/review', '/guide'];\n  for (const pattern of badUrlPatterns) {\n    if (urlLower.includes(pattern)) return true;\n  }\n  \n  const badTitlePatterns = [/^top \\d+/i, /^best \\d+/i, /^\\d+ best/i, /^\\d+ top/i, /fastest growing/i, /top companies/i, /best companies/i];\n  for (const pattern of badTitlePatterns) {\n    if (pattern.test(titleLower)) return true;\n  }\n  \n  return false;\n}\n\n// Score company likelihood\nfunction scoreCompanyLikelihood(title, snippet, url) {\n  let score = 50;\n  const combined = `${title} ${snippet}`.toLowerCase();\n  \n  const positiveSignals = [\n    { pattern: /contact us/i, weight: 10 },\n    { pattern: /call (us|now|today)/i, weight: 15 },\n    { pattern: /free (estimate|quote|consultation)/i, weight: 20 },\n    { pattern: /schedule|book (online|now|appointment)/i, weight: 15 },\n    { pattern: /our (services|team|work|projects)/i, weight: 10 },\n    { pattern: /licensed|insured|certified|bonded/i, weight: 15 },\n    { pattern: /years (of )?experience/i, weight: 10 },\n    { pattern: /family owned|locally owned/i, weight: 15 },\n    { pattern: /request (a )?(quote|demo|info)/i, weight: 15 },\n    { pattern: /\\d{3}[-.\\s]?\\d{3}[-.\\s]?\\d{4}/i, weight: 10 }\n  ];\n  \n  for (const signal of positiveSignals) {\n    if (signal.pattern.test(combined)) score += signal.weight;\n  }\n  \n  const negativeSignals = [\n    { pattern: /^\\d+ /i, weight: -30 },\n    { pattern: /best|top|ranking|rated/i, weight: -15 },\n    { pattern: /guide|how to|tips|advice/i, weight: -20 },\n    { pattern: /find a |find the |search for/i, weight: -25 },\n    { pattern: /compare|vs\\.|versus|alternative/i, weight: -20 }\n  ];\n  \n  for (const signal of negativeSignals) {\n    if (signal.pattern.test(combined)) score += signal.weight;\n  }\n  \n  return Math.max(0, Math.min(100, score));\n}\n\n// Process results\nfor (const result of organic) {\n  if (companies.length >= maxPerQuery) break;\n  \n  const url = result.link || '';\n  const domain = extractDomain(url);\n  if (!domain) continue;\n  \n  if (seenDomains.has(domain)) continue;\n  if (skipDomains.has(domain)) continue;\n  \n  // Check if domain contains any skip domain\n  let shouldSkip = false;\n  for (const blocked of skipDomains) {\n    if (domain.includes(blocked.split('.')[0])) {\n      shouldSkip = true;\n      break;\n    }\n  }\n  if (shouldSkip) continue;\n  \n  const title = result.title || '';\n  const snippet = result.snippet || '';\n  \n  if (isListOrArticle(url, title)) continue;\n  \n  const likelihood = scoreCompanyLikelihood(title, snippet, url);\n  if (likelihood < 40) continue;\n  \n  seenDomains.add(domain);\n  \n  const name = extractCompanyName(title, domain, snippet);\n  const industry = classifyIndustry(title, snippet, domain, url);\n  \n  companies.push({\n    name: name,\n    domain: domain,\n    industry: industry,\n    location: filters.locations?.[0] || 'United States',\n    employees: filters.employeeRange || '11-50',\n    revenue: filters.revenueRange || '$1M - $10M',\n    source: 'serper_discovery',\n    confidence: likelihood,\n    snippet: snippet.substring(0, 250),\n    searchQuery: context.originalQuery,\n    sourceUrl: url\n  });\n}\n\ncompanies.sort((a, b) => b.confidence - a.confidence);\n\nreturn [{\n  json: {\n    companies: companies,\n    queryUsed: context.searchQuery,\n    resultsFound: companies.length,\n    organicCount: organic.length\n  }\n}];"
      },
      "id": "extract-companies",
      "name": "Extract Companies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1100, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.data || [];\nconst allCompanies = [];\nconst seenDomains = new Set();\n\nfor (const item of items) {\n  const companies = item.companies || [];\n  for (const company of companies) {\n    if (!seenDomains.has(company.domain)) {\n      seenDomains.add(company.domain);\n      allCompanies.push(company);\n    }\n  }\n}\n\nallCompanies.sort((a, b) => (b.confidence || 0) - (a.confidence || 0));\n\nreturn [{\n  json: {\n    companies: allCompanies,\n    totalFound: allCompanies.length,\n    message: `Discovered ${allCompanies.length} companies`\n  }\n}];"
      },
      "id": "dedupe",
      "name": "Dedupe & Sort",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1500, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Build Queries", "type": "main", "index": 0 }]] },
    "Build Queries": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] },
    "Loop": { "main": [
      [{ "node": "Serper Search", "type": "main", "index": 0 }],
      [{ "node": "Aggregate", "type": "main", "index": 0 }]
    ]},
    "Serper Search": { "main": [[{ "node": "Extract Companies", "type": "main", "index": 0 }]] },
    "Extract Companies": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Dedupe & Sort", "type": "main", "index": 0 }]] },
    "Dedupe & Sort": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
