n8n-workflows/n8n-sai-serper-v3.json
{
  "name": "SAI Scraper - Serper v3",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sai-scraper-v3",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [100, 400],
      "webhookId": "sai-scraper-v3"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst domains = body.domains || [];\nconst options = body.options || {};\n\n// HARDCODE YOUR API KEY HERE\nconst SERPER_API_KEY = 'cad6eefce44b2e9d112983ff0796cab6ae988d8b';\n\nreturn domains.map((domain) => {\n  let cleanDomain = domain\n    .replace(/^https?:\\/\\//, '')\n    .replace(/^www\\./, '')\n    .split('/')[0]\n    .toLowerCase()\n    .trim();\n  \n  const companyName = cleanDomain\n    .replace(/\\.(com|io|co|net|org|ai|app)$/, '')\n    .replace(/[-_]/g, ' ')\n    .split('.')\n    .pop()\n    .replace(/\\b\\w/g, c => c.toUpperCase());\n  \n  return {\n    json: {\n      domain: cleanDomain,\n      companyName,\n      serperApiKey: SERPER_API_KEY\n    }\n  };\n});"
      },
      "id": "normalize",
      "name": "Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [300, 400]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": { "delayBetweenBatches": 500 }
      },
      "id": "loop",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [500, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-API-KEY", "value": "={{ $json.serperApiKey }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.domain, gl: 'us', hl: 'en', num: 20 }) }}"
      },
      "id": "serper-search",
      "name": "Serper Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\n// Get the domain from the previous item in context\nconst domain = $('Loop').first().json.domain;\nconst companyName = $('Loop').first().json.companyName;\nconst serperApiKey = $('Loop').first().json.serperApiKey;\n\n// Analyze ads from Serper response\nlet googleAdsDetected = false;\nlet adCount = 0;\nlet adDetails = [];\n\nconst ads = input.ads || [];\nif (ads.length > 0) {\n  googleAdsDetected = true;\n  adCount = ads.length;\n  \n  const domainAds = ads.filter(ad => \n    (ad.link && ad.link.includes(domain)) ||\n    (ad.displayLink && ad.displayLink.includes(domain))\n  );\n  \n  if (domainAds.length > 0) {\n    adDetails.push(`${domainAds.length} ads from ${domain}`);\n  }\n  adDetails.push(`${adCount} total ads in SERP`);\n}\n\n// Check organic for hiring signals\nlet hiringDetected = false;\nlet hiringRoles = [];\nlet hiringPlatforms = [];\n\nconst organic = input.organic || [];\nfor (const result of organic) {\n  const title = (result.title || '').toLowerCase();\n  const snippet = (result.snippet || '').toLowerCase();\n  const link = (result.link || '').toLowerCase();\n  const combined = title + ' ' + snippet;\n  \n  // Job platforms\n  if (link.includes('linkedin.com/jobs')) {\n    if (!hiringPlatforms.includes('LinkedIn')) hiringPlatforms.push('LinkedIn');\n    hiringDetected = true;\n  }\n  if (link.includes('indeed.com')) {\n    if (!hiringPlatforms.includes('Indeed')) hiringPlatforms.push('Indeed');\n    hiringDetected = true;\n  }\n  if (link.includes('glassdoor.com')) {\n    if (!hiringPlatforms.includes('Glassdoor')) hiringPlatforms.push('Glassdoor');\n    hiringDetected = true;\n  }\n  \n  // Roles\n  if (/sales|account executive/i.test(combined) && !hiringRoles.includes('Sales')) {\n    hiringRoles.push('Sales');\n    hiringDetected = true;\n  }\n  if (/engineer|developer/i.test(combined) && !hiringRoles.includes('Engineering')) {\n    hiringRoles.push('Engineering');\n    hiringDetected = true;\n  }\n  if (/marketing/i.test(combined) && !hiringRoles.includes('Marketing')) {\n    hiringRoles.push('Marketing');\n    hiringDetected = true;\n  }\n}\n\n// LinkedIn company info\nlet linkedInFound = false;\nlet linkedInUrl = null;\nlet employeeRange = null;\n\nfor (const result of organic) {\n  const link = result.link || '';\n  const match = link.match(/linkedin\\.com\\/company\\/([a-zA-Z0-9-]+)/i);\n  if (match) {\n    linkedInFound = true;\n    linkedInUrl = `https://linkedin.com/company/${match[1]}`;\n    \n    const snippet = result.snippet || '';\n    const empMatch = snippet.match(/(\\d[\\d,]*)\\s*(?:followers|employees)/i);\n    if (empMatch) {\n      const count = parseInt(empMatch[1].replace(/,/g, ''));\n      if (count <= 10) employeeRange = '1-10';\n      else if (count <= 50) employeeRange = '11-50';\n      else if (count <= 200) employeeRange = '51-200';\n      else if (count <= 500) employeeRange = '201-500';\n      else employeeRange = '500+';\n    }\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    domain,\n    companyName,\n    serperApiKey,\n    signals: {\n      googleAds: {\n        detected: googleAdsDetected,\n        score: googleAdsDetected ? Math.min(60 + adCount * 5, 95) : 0,\n        confidence: googleAdsDetected ? 90 : 0,\n        adCount,\n        details: googleAdsDetected ? adDetails.join('; ') : 'No ads detected'\n      },\n      hiring: {\n        detected: hiringDetected,\n        score: hiringDetected ? Math.min(50 + hiringRoles.length * 15 + hiringPlatforms.length * 10, 90) : 0,\n        confidence: hiringDetected ? 75 : 0,\n        roles: hiringRoles,\n        platforms: hiringPlatforms,\n        details: hiringDetected ? `Hiring: ${hiringRoles.join(', ') || 'various'} via ${hiringPlatforms.join(', ') || 'job boards'}` : 'No hiring signals'\n      }\n    },\n    enrichment: {\n      linkedIn: { found: linkedInFound, url: linkedInUrl, employeeRange }\n    }\n  }\n}];"
      },
      "id": "analyze-serper",
      "name": "Analyze Serper",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "url": "=https://{{ $json.domain }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/121.0.0.0 Safari/537.36" },
            { "name": "Accept", "value": "text/html,application/xhtml+xml" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "scrape",
      "name": "Scrape Website",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 400],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst html = (item.data || '').toLowerCase();\nconst rawHtml = item.data || '';\n\nconst scrapeSuccess = rawHtml.length > 1000 && \n  !rawHtml.includes('403') && !rawHtml.includes('Access Denied') && \n  !rawHtml.includes('Just a moment') && !rawHtml.includes('captcha');\n\nlet chatWidget = null;\nlet bookingTool = null;\nlet hasPhone = false;\nlet has24x7 = false;\nlet techStack = [];\n\nif (scrapeSuccess) {\n  // Chat\n  if (/intercom|intercomcdn/i.test(rawHtml)) chatWidget = 'intercom';\n  else if (/drift\\.com|driftt/i.test(rawHtml)) chatWidget = 'drift';\n  else if (/zendesk|zopim/i.test(rawHtml)) chatWidget = 'zendesk';\n  else if (/tawk\\.to/i.test(rawHtml)) chatWidget = 'tawk';\n  else if (/crisp\\.chat/i.test(rawHtml)) chatWidget = 'crisp';\n  \n  // Booking\n  if (/calendly\\.com/i.test(rawHtml)) bookingTool = 'calendly';\n  else if (/meetings\\.hubspot/i.test(rawHtml)) bookingTool = 'hubspot';\n  else if (/chilipiper/i.test(rawHtml)) bookingTool = 'chilipiper';\n  \n  // Phone\n  hasPhone = /href=\"tel:/i.test(rawHtml) || /\\(?\\d{3}\\)?[\\s.-]?\\d{3}[\\s.-]?\\d{4}/.test(rawHtml);\n  \n  // Hours\n  has24x7 = /24\\/7|24 hours|always open/i.test(html);\n  \n  // Tech\n  if (/hubspot|hbspt/i.test(rawHtml)) techStack.push('hubspot');\n  if (/salesforce|pardot/i.test(rawHtml)) techStack.push('salesforce');\n  if (/gtag|googletagmanager/i.test(rawHtml)) techStack.push('ga');\n  if (/hotjar/i.test(rawHtml)) techStack.push('hotjar');\n  if (/stripe\\.com/i.test(rawHtml)) techStack.push('stripe');\n}\n\n// After-hours score\nlet afterHoursScore = 0;\nif (!scrapeSuccess) afterHoursScore = 45;\nelse {\n  if (!has24x7) afterHoursScore += 30;\n  if (!chatWidget) afterHoursScore += 30;\n  if (!bookingTool) afterHoursScore += 20;\n}\nafterHoursScore = Math.min(afterHoursScore, 100);\n\n// Inbound risk score\nlet inboundScore = 0;\nif (!scrapeSuccess) inboundScore = 40;\nelse {\n  if (!hasPhone) inboundScore += 35;\n  if (!chatWidget) inboundScore += 25;\n  if (techStack.length < 2) inboundScore += 20;\n}\ninboundScore = Math.min(inboundScore, 100);\n\n// Final score calculation\nconst signals = item.signals || {};\nconst weights = { googleAds: 0.30, afterHours: 0.25, inbound: 0.20, hiring: 0.15, tech: 0.10 };\n\nlet totalScore = 0;\nlet detectedSignals = [];\nconst signalArray = [];\n\n// Google Ads\nif (signals.googleAds?.detected) {\n  detectedSignals.push('googleAds');\n  totalScore += signals.googleAds.score * weights.googleAds * signals.googleAds.confidence / 100;\n  signalArray.push({\n    id: 'googlePaidTraffic',\n    label: 'Google Paid Traffic Active',\n    detected: true,\n    value: signals.googleAds.details,\n    confidence: signals.googleAds.confidence,\n    score: signals.googleAds.score\n  });\n}\n\n// After-hours\nif (afterHoursScore > 35) {\n  detectedSignals.push('afterHours');\n  totalScore += afterHoursScore * weights.afterHours * 0.8;\n  signalArray.push({\n    id: 'afterHoursCoverage',\n    label: 'After Hours Coverage Gap',\n    detected: true,\n    value: !has24x7 ? 'No 24/7 coverage' : 'Limited coverage',\n    confidence: 80,\n    score: afterHoursScore\n  });\n}\n\n// Inbound risk\nif (inboundScore > 40) {\n  detectedSignals.push('inbound');\n  totalScore += inboundScore * weights.inbound * 0.8;\n  signalArray.push({\n    id: 'inboundResponseRisk',\n    label: 'Inbound Response Risk',\n    detected: true,\n    value: !hasPhone ? 'No phone' : 'Limited contact options',\n    confidence: 80,\n    score: inboundScore\n  });\n}\n\n// Hiring\nif (signals.hiring?.detected) {\n  detectedSignals.push('hiring');\n  totalScore += signals.hiring.score * weights.hiring * signals.hiring.confidence / 100;\n  signalArray.push({\n    id: 'hiringSignal',\n    label: 'Active Hiring',\n    detected: true,\n    value: signals.hiring.details,\n    confidence: signals.hiring.confidence,\n    score: signals.hiring.score\n  });\n}\n\n// Tech stack bonus\nconst premiumTech = techStack.filter(t => ['hubspot', 'salesforce'].includes(t));\nif (premiumTech.length > 0) {\n  detectedSignals.push('tech');\n  totalScore += 15;\n  signalArray.push({\n    id: 'techStackSignal',\n    label: 'Sophisticated Tech Stack',\n    detected: true,\n    value: `Uses ${premiumTech.join(', ')}`,\n    confidence: 85,\n    score: 70\n  });\n}\n\n// Bonuses\nif (detectedSignals.length >= 2) totalScore += 10;\nif (detectedSignals.length >= 3) totalScore += 10;\nif (detectedSignals.includes('googleAds') && detectedSignals.includes('afterHours')) totalScore += 12;\n\ntotalScore = Math.min(Math.round(totalScore), 100);\n\n// Why now\nlet whyNow = [];\nif (signals.googleAds?.detected) whyNow.push(`Active Ads (${signals.googleAds.adCount})`);\nif (afterHoursScore > 50) whyNow.push('After-hours gap');\nif (inboundScore > 50) whyNow.push('Response risk');\nif (signals.hiring?.detected) whyNow.push('Hiring');\nif (premiumTech.length) whyNow.push('Sophisticated buyer');\n\nreturn [{\n  json: {\n    domain: item.domain,\n    companyName: item.companyName,\n    score: totalScore,\n    signals: signalArray,\n    signalCount: signalArray.length,\n    whyNow: whyNow.length > 0 ? whyNow.join(' + ') : 'Limited signals',\n    readyState: totalScore >= 65 ? 'hot' : totalScore >= 45 ? 'warm' : totalScore >= 25 ? 'nurture' : 'cold',\n    confidence: { level: totalScore >= 50 ? 'high' : 'medium' },\n    enrichment: item.enrichment,\n    websiteAnalysis: {\n      chatWidget,\n      hasChatWidget: !!chatWidget,\n      bookingTool,\n      hasBookingTool: !!bookingTool,\n      hasPhone,\n      has24x7,\n      scrapeSuccess\n    },\n    debug: { detectedSignals, techStack }\n  }\n}];"
      },
      "id": "final-score",
      "name": "Final Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1500, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" },
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 400]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Normalize", "type": "main", "index": 0 }]] },
    "Normalize": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] },
    "Loop": { "main": [
      [{ "node": "Serper Search", "type": "main", "index": 0 }],
      [{ "node": "Aggregate", "type": "main", "index": 0 }]
    ]},
    "Serper Search": { "main": [[{ "node": "Analyze Serper", "type": "main", "index": 0 }]] },
    "Analyze Serper": { "main": [[{ "node": "Scrape Website", "type": "main", "index": 0 }]] },
    "Scrape Website": { "main": [[{ "node": "Final Score", "type": "main", "index": 0 }]] },
    "Final Score": { "main": [[{ "node": "Loop", "type": "main", "index": 0 }]] },
    "Aggregate": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
